ACA/Iponweb Homework 6 Esfira Babajanyan

In [58]:
#I recreated Date,Time, Person, Job, Company  classes since in my last homework
#the logic and functionality was not a good one
MONTHS = 12

class InvalidDateException(Exception):
    def __init__(self, value, message):
        self._value = value
        self._message = message
        super().__init__(f"{message}: f{value}")

class Date:    
    def __init__(self, day, month, year):
        if not (0 < day <= 31):
            raise InvalidDateException(day, "Invalid day value")
        if not (0 < month <= 12):
            raise InvalidDateException(month, "Invalid day value")
            
        self._day = day
        self._month = month
        self._year = year
        
    def __repr__(self):
        return f"{self._day}.{self._month}.{self._year}"
        
    def is_leap(self):
        return (self._year % 400 == 0) or (self._year % 100 != 0 and self._year % 4 == 0)
    
    
    def add_year(self, years):
        self._years += years
    
    
    def add_month(self, months):
        self._month += (months % MONTHS)
        self._year += (months // MONTHS)
        
        if(self._month > 12):
            self._year += 1
            self._month = self._month % 12
    
    
    def add_day(self, days):
        num_days = [31,28,31,30,31,30,31,31,30,31,30,31]
        if(self.is_leap()):
            num_days[1] = 29
            
        while(days > 0):
            if(days >= num_days[self._month - 1]):
                days -= num_days[self._month - 1]
                self.add_month(1)
            else:
                self._day += days
                days -= days
                if(self._day > num_days[self._month-1]):
                    self._day = self._day % num_days[self._month - 1]
                    self.add_month(1)

In [2]:
date = Date(29,1,2023)
date

29.1.2023

In [3]:
date.add_day(1500)
print(date)

10.3.2027

In [4]:
class Time:
    def __init__(self, second, minute, hour):
        self._second = second
        self._minute = minute
        self._hour = hour
        
    def __repr__(self):
        return f"{self._hour}:{self._minute}:{self._second}"
            
    def add_hour(self, hours):
        self._hour += hours
        new_days = self._hour // 24
        self._hour = self._hour % 24
        return new_days
            
    def add_minute(self, minutes):
        self._minute += minutes
        self._hour += self._minute // 60
        self._minute = self._minute % 60
              
    def add_second(self, seconds):
        self._second += seconds
        self.add_minute(self._second // 60)
        self._second = self._second % 60
    
    def sum(self, other):
        self.add_second(other._second)
        self.add_minute(other._minute)
        self.add_hour(other._hour)
        return self

In [5]:
time = Time(20,34,17)

In [6]:
time1 = Time(43,43,6)

In [7]:
print(time,time1)

17:34:20 6:43:43

In [8]:
print(time.sum(time1))

0:18:3

In [9]:
time1.add_second(20)
print(time1)

6:44:3

In [10]:
class DateTime():
    def __init__(self, date, time):
        self._date = date
        self._time = time
        
    def __repr__(self):
        return f"{self.date} {self.time}"
    
    @property
    def date(self):
        return self._date
    
    @date.setter
    def date(self, val):
        self._date = val
        
    @property
    def time(self):
        return self._time
    
    @time.setter
    def time(self, val):
        self._time = val
    
    def add_year(self, years):
        self._date.add_year(years)
        
    def add_month(self, months):
        self._date.add_month(months)
        
    def add_day(self, days):
        self._date.add_day(days)
    
    def add_hour(self, hours):
        new_days = self._time.add_hour(hours)
        self.add_day(new_days)
    
    def add_minute(self,minutes):
        self._time.add_minute(minutes)
    
    def add_second(self, seconds):
        self._time.add_second(seconds)

In [11]:
date1 = Date(29, 1, 2023)
print(date1)

29.1.2023

In [12]:
time1 =  Time(40,40,23)
print(time1)

23:40:40

In [13]:
datetime = DateTime(date1, time1)
print(datetime)

29.1.2023 23:40:40

In [14]:
datetime.add_hour(50)

In [15]:
print(datetime)

1.2.2023 1:40:40

In [16]:
exchange = {"AMD":1, "RUB":5.8, "USD":400, "EUR":430}

class Money:    
    def __init__(self, amount, currency):
        self._amount = amount
        self._currency = currency
    
    def __repr__(self):
        return f"{self._amount} {self._currency}"
    
    @property
    def amount(self):
        return self._amount
    
    @amount.setter
    def amount(self, val):
        self._amount = val
    
    @property
    def currency(self):
        return self._currency
    
    @currency.setter
    def currency(self, val):
        if val in exchange.keys():
            self._currency = val
        else:
            raise ValueError("Currency must be AMD, RUB, USD or EUR.")
        
    def conversion(self, currency):
        return self._amount*exchange[currency]
        
            
    def __add__(self, other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        return self_amd + other_amd 
        
    def __sub__(self, other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        return self_amd - other_amd 
    
    def __truediv__(self,other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        return self_amd / other_amd
    
    def __eq__(self,other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        if self_amd == other_amd:
            return True
        else:
            return False
        
    def __ne__(self,other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        if self_amd != other_amd:
            return True
        else:
            return False
    
    def __lt__(self, other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        if self_amd < other_amd:
            return True
        else:
            return False
    
    def __gt__(self, other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        if self_amd > other_amd:
            return True
        else:
            return False
        
    def __le__(self,other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        if self_amd <= other_amd:
            return True
        else:
            return False
    
    def __ge__(self, other):
        self_amd = self.conversion(self._currency)
        other_amd = other.conversion(other._currency)
        if self_amd >= other_amd:
            return True
        else:
            return False

In [17]:
money1 = Money(3500, "USD")
print(money1)

3500 USD

In [18]:
money2 = Money(340, "EUR")
print(money2)

340 EUR

In [19]:
money1.conversion("USD")

1400000

In [20]:
money2.conversion("EUR")

146200

In [21]:
money1+money2

1546200

In [22]:
money1 > money2

True

In [23]:
money1/money2

9.575923392612859

In [24]:
class Company:
    def __init__(self, company_name, founded_at, employee_count):
        self._company_name = company_name
        self._founded_at = founded_at
        self._employee_count = employee_count
    
    def __repr__(self):
        return f'{self._company_name},{self._founded_at}, {self._employee_count}'

In [25]:
class Job: 
    def __init__(self, company,salary, experience_year, position):
        self._company = company
        self._salary = salary
        self._experience_year = experience_year
        self._poistion = poisition
    
    def __repr__(self):
        return f'{self._position},{self._salary},{self._experience_year}'
    
    def change_salary(self, val):
        self._salary = val
        
    def change_experience_year(self,val):
        self._experience_year = val
        
    def change_position(self, val):
        self._position = val

In [26]:
class Person:
    def __init__(self, name, surname, gender, age, address, friends = [], job = []):
        self._name = name
        self._surname = surname
        self._gender = gender
        self._age = age
        self._address = address
        self._friends = friends
        self._job = job
    
    def __repr__(self):
        return f'{self._name}, {self._surname}, {self._gender}, {self._address}, {self._friends}, {self._job}.'
    
    def add_friend(self, name):
        self._friends.append(name)
    
    def remove_friend(self, name):
        self._friends.remove(name)
        
    def add_job(self, position):
        self._job.append(position)
        self._job._company._employee_count += 1
        
    def remove_job(self, position):
        self._job.remove(position)
        self._job._company._employee_count -= 1
    
    def display_job(self):
        print(f"The jobs are {self.job}")

In [27]:
class Doctor(Person):
    def __init__(self, name, surname, gender, age, address, department, profession, patronymic, salary, job= [], friends = []):
        Person.__init__(self, name, surname, gender, age, address, friends, job)
        self._department = department
        self._profession = profession
        self._patronymic = patronymic
        self._salary = salary
         
    def __repr__(self):
        return f"Name - {self._name} {self._patronymic} {self._surname}, {self._gender}, {self._age}. Address - {self._address}. Department - {self._department}, {self._profession}. Salary - {self._salary}" 
    
    @property
    def department(self):
        return self._department
    
    @department.setter
    def department(self, val):
        self._department = val
        
    @property
    def profession(self):
        return self._profession
    
    @profession.setter
    def profession(self, val):
        self._profession = val
    
    @property
    def patronymic(self):
        return relf._patronymic
    
    @property
    def salary(self):
        return self._salary

    @salary.setter
    def salary(self, val):
        self._salary = val

In [28]:
doctor = Doctor("Tom", "Johnson", "male", 25, "5th avenue", "Oncology", "oncologyst", "Smith", 5000)
print(doctor)

Name - Tom Smith Johnson, male, 25. Address - 5th avenue. Department - Oncology, oncologyst. Salary - 5000

In [29]:
doctor.salary = 7000
print(doctor)

Name - Tom Smith Johnson, male, 25. Address - 5th avenue. Department - Oncology, oncologyst. Salary - 7000

In [60]:
class InvalidPopulationNumber(Exception):
    def __init__(self, value, message):
        self._value = value
        self._message = message
        super().__init__(f"{message}: f{value}")


class City: 
    def __init__(self, name, mayor, population, language):
        if population <= 0:
            raise InvalidPopulationNumber(population, "Population can't be negative")
        self._name = name
        self._mayor = mayor
        self._population = population
        self._language = language
    
    def __repr__(self):
        return f"City name - {self._name}, mayor - {self._mayor}, population - {self._population}, language - {self._language}"
    
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, val):
        self._name = val
        
    @property
    def mayor(self):
        return self._mayor
    
    @mayor.setter
    def mayor(self, val):
        self._mayor = val
    
    @property 
    def population(self):
        return self._population
    
    @population.setter
    def population(self, val):
        self._population = val
        
    @property
    def language(self):
        return self._language

    @language.setter
    def language(self, val):
        self._language = val

In [61]:
city = City("Error", "Anonymous", -10, "English")

InvalidPopulationNumber: Population can't be negative: f-10

In [31]:
city = City("Yerevan", "Hrachya Sargsyan", 1000000, "Armenian")
print(city)

City name - Yerevan, mayor - Hrachya Sargsyan, population - 1000000, language - Armenian

In [32]:
class University:
    def __init__(self, name, founded_at, rector, city):
        self._name = name
        self._founded_at = founded_at
        self._rector = rector
        self._city = city
    
    def __repr__(self):
        return f"{self._name} was founded {self._founded_at} in {self._city}, Rector is {self._rector}"
    
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, val):
        self._name = val
        
    @property
    def founded_at(self):
        return self._founded_at
    
    @founded_at.setter
    def founded_at(self, val):
        self._founded_at = val
        
    @property
    def rector(self):
        return self._rector
    
    @rector.setter
    def rector(self, val):
        self._rector = val
        
    @property
    def city(self):
        return self._city
    
    @city.setter
    def city(self, val):
        self._city = val

In [33]:
university = University("AUA", 1991, "Kiureghian", "Yerevan")
print(university)

AUA was founded 1991 in Yerevan, Rector is Kiureghian

In [34]:
class Teacher(Person):
    def __init__(self, name, surname, gender, age, address, university, faculty, experience, start_work_at, subject, salary ,friends = [], job = []):
        Person.__init__(self, name, surname, gender, age, address, friends, job)
        self._university = university
        self._faculty = faculty
        self._experience = experience
        self._start_work_at = start_work_at
        self._subject = subject
        self._salary = salary
    
    def __repr__(self):
        return f"{self._name} {self._surname} {self._gender} {self._age}. Address - {self._address}, uni - {self._university} {self._faculty}. Experience - {self._experience}, started - {self._start_work_at}. Sub - {self._subject} with salary - {self._salary}"
    
    @property
    def experience(self):
        return self._experience
    
    @experience.setter
    def experience(self, val):
        self._experience = val
        
    @property
    def start_work_at(self):
        return self._start_work_at
    
    @start_work_at.setter
    def start_work_at(self, val):
        self._start_work_at = val
        
    @property
    def faculty(self):
        return self._faculty
    
    @faculty.setter
    def faculty(self, val):
        self._faculty = val
        
    @faculty.deleter
    def faculty(self):
        del self._faculty
        
    @property
    def salary(self):
        return self._salary
    
    @salary.setter
    def salary(self, val):
        self._alary = val
        
    @salary.deleter
    def salary(self):
        del self._salary

In [35]:
date = Date(30,1,2019)
teacher = Teacher("Narek", "Babajanyan", "male", 26, "Avenu 5th", "AUA", "CS", 4, date, "CompOrg", 4000)
print(teacher)

Narek Babajanyan male 26. Address - Avenu 5th, uni - AUA CS. Experience - 4, started - 30.1.2019. Sub - CompOrg with salary - 4000

In [36]:
class Student(Person):
    def __init__(self, name, surname, gender, age, address, university, faculty, course, started_at, friends = [], job = []):
        Person.__init__(self, name, surname, gender, age, address, friends, job)
        self._university = university
        self._faculty = faculty
        self._course = course
        self._started_at = started_at
        
    def __repr__(self):
        return f"{self._name} {self._surname} {self._gender} {self._age} {self._address}. Uni - {self._university}, {self._faculty}. {self._course}. Start - {self._started_at}"
    
    @property
    def university(self):
        return self._universuty
    
    @university.setter
    def university(self, val):
        self._university = val
        
    @university.deleter
    def university(self):
        del self._university
        
    @property
    def faculty(self):
        return self._faculty
    
    @faculty.setter
    def facultu(self, val):
        self._faculty = val
        
    @faculty.deleter
    def faculty(self):
        del self._faculty
        
    @property
    def course(self):
        return self._course
    
    @course.setter
    def course(self, val):
        self._course = val
        
    @course.deleter
    def course(self):
        del self._course
        
    @property
    def started_at(self):
        return self._started_at

In [37]:
start = Date(26, 8, 2020)
student = Student("Esfira", "Babajanyan", "Female", 20, "Avenue 5th", "AUA", "CSE", "DS", start, "Data", ["Nata", "Maga"])
print(student)

Esfira Babajanyan Female 20 Avenue 5th. Uni - AUA, CSE. DS. Start - 26.8.2020

In [38]:
student.course = "CS"
print(student)

Esfira Babajanyan Female 20 Avenue 5th. Uni - AUA, CSE. CS. Start - 26.8.2020

In [50]:
class MyRange:
    def __init__(self, current, end, step):
        self._current = current
        self._end = end
        self._step = step
    
    def __repr__(self):
        return f"Current : {self._current}, end : {self._end}, step : {self._step}"
    
    def __iter__(self):
        return self
    
    def __len__(self):
        self._end - self._current
        
    def __next__(self):
        if (self._current >= self._end and self._step>0) or (self._current <= self._end and self._step<0):
            raise StopIteration
        else:
            self._current += self._step
        return self._current
    
    def __reversed__(self):
        return MyRange(self._end, self._current, -1*self._step)

In [55]:
my_range = MyRange(1,10,2)
print(my_range)

Current : 1, end : 10, step : 2

In [44]:
print(reversed(my_range))

Current : 1, end : 10, step : -2

In [56]:
for i in my_range:
    print(i)

3
5
7
9
11